practice/

venv_classd/
samplesite/bboard/__pycache__
samplesite/bboard/api/__pycache__/
samplesite/bboard/migrations/__pycache__
samplesite/samplesite/__pycache__

samplesite/testapp/__pycache__
samplesite/testapp/migrations/__pycache__/

samplesite/samplesite/bboard/migrations
samplesite/bboard/cache/

samplesite/samplesite/.env

cmd.exe.lnk