{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %} ::
        Доска объявлений</title>
</head>

<body>
    <header>
        <hl>Объявления</hl>
        <link rel="stylesheet" type="text/css" href="{% static 'bboard/style.css' %}">
    </header>
    <nav>
        <a href="{% url 'index' %}"><b>Главная</b></а>
            <a href="{% url 'add' %}"><b>Добавить</b></а>


                {% for rubric in rc %}
                    <a href="{{ rubric.get_absolute_url }}">
                        <!-- <a href="{% url 'by_rubric' rubric.pk %}"> -->
                        {{ rubric.name }}: {{ rubric.bb__count }}
                    </a>
                {% endfor %}

        {% with bb_count=bbstotal.count %}
            {% if bb_count > 0 %}
                <p>Всего {{ bb_count }} объявлений.</p>
            {% endif %}
        {% endwith %}
    </nav>
    <section>
        {% block content %}
        {% endblock %}
    </section>
</body>

</html>