{% load static %}
{% load bootstrap4 %}
{% load filtersandtags %}
{% load cache %}

<!DOCTYPE html>
<html>

<head>
    <!-- <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAZZ5EAAAAAACuIugBEmccAJZHMABhzowAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAERERERERERERERERERERERERETMzERERERFVRDMzERERFVVUQzMxEREVVVRDMzERERERERERERERAAIlVURDEREAAiVVREMREQAAIlVUQxEREAACJVVREREQAAAiVVEREREAAAJVEREREREAAhERERERERERERERERERERERERH//wAA//8AAPw/AADwDwAA4AcAAOAHAADAAwAAgAEAAEACAACAAQAA4AcAAOAHAADwDwAA/D8AAP//AAD//wAA" rel="icon" type="image/x-icon" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=l, shrink-to-fit=no">
    <meta charset="UTF-8">
    {% bootstrap_css %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static "main/style.css" %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'bboard/style.css' %}">
    {% bootstrap_javascript jquery='slim' %}
    <title>{% block title %}Главная{% endblock %} :: Доска объявлений</title>
</head>

<body class="container-fluid">
    <header id="pageHeader" class="mb-4">
        
        
        <a href="{% url 'bboard:index' %}"><b>Главная</b></а>
        {% if 'bboard.add_bb' in perms %}
            <a href="{% url 'bboard:add' %}"><b>Добавить</b></а>
        {% endif %}

        {% if user.is_authenticated %}
            <a href="{% url 'bboard:rubrics' %}">Рубрики</a>
            <span class="username"><a  href="{% url 'bboard:cabinet' %}"> PC</a>{{ user.username }}   <a href="/accounts/logout/">Exit </a></span>
        {% else %}
            <a href="/accounts/login/">Enter</a>
            <a href='{% url "social:begin" "github" %}'>Github</a>
        {% endif %}

    </header>


    <!-- <div class="row">
        <ul class="col nav justify-content-end border">
            <li class="nav-item"><a class="nav-link" href="#">Регистрация</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="Га1зе">Профиль</а>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Moи объявления</а>
                        <a class="dropdown-item" href="#">Изменить личные данные</а>
                        <a class="dropdown-item" href="#">Изменить пароль</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Выйти</а>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Удалить</а>
                    </div>
            </li>
            <li class="nav-item"><a class=”nav-link" href="#">Вход</a></li>
        </ul>
    </div> -->


{# Menu with Rubrics #}
{# {% cache 120 mainNav %} #}
    <nav id="mainNav">
        <hl >Объявления</hl>
        <div id="rubrics">
            {% for rubric in rc %}
                <a href="{{ rubric.get_absolute_url }}">
                    {# <a href="{% url 'by_rubric' rubric.pk %}"> #}
                    {{ rubric.name }}: {{ rubric.bb__count }}
                </a>
            {% endfor %}

            {% with bb_count=bbstotal.count %}
                {% if bb_count > 0 %}
                    <p>Всего {{ bb_count }} объявлений.</p>
                {% endif %}
            {% endwith %}
            <br><br><br>
            
            
            {# {% lst ', ' '1' '2' '3' %} #}
            {% ulist '1' '2' '3' %}
        </div>
    </nav>
{# {% endcache %} #}

    <section id="mainSection">
    {% block content %}
    {% endblock %}
    </section>

    {% block site_search %}
{# {% cache 120 site_search %} #}
    <div id="siteSearch">
        <form method="get">
            {{ bbFilter.form.as_p }} 

            {# <ul> #}
              {#  {% for bb in bbFilter.qs %} #}
                {# <li> #}
                  {#  <a href="{% url 'bboard:detail' bb.id %}">{{ bb.title }}</a> #}
                {# </li> #}
                    {# {% endfor %} #}
                    {# </ul> #}

            {# {% bootstrap_form bbFilter.form layout='inline' show_help=False %} #}
            <button type="submit" class="btn btn-primary">Поиск</button>
        </form>
    </div>
{# {% endcache %} #}
    {% endblock %}

    <footer id="pageFooter">Footer
        <p><a href="{% url 'bboard:mail_send' %}">EmalMe!</a></p>
    </footer>

</body>

</html>