{% extends "layout/basic.html" %}
{% load filtersandtags %}
{% load bootstrap4 %}


{% block title %}{{ current_rubric.name }}{% endblock %}

{% block content %}
    <h2>Рубрика: {{ current_rubric.name }}</h2>
    <a href="{% url 'bboard:bbs' rubric.pk %}">Редактировать объявления</a>


    {% for bb in bbFilter.qs %}
    {# {% for bb in bbs %} #}
        <div>
            <p># {{ forloop.counter }}</p>
            <!-- <h2>{{ bb.title }}</h2> -->
            <h2><a href="{% url 'bboard:detail' pk=bb.pk %}">{{ bb.title }}</a></h2>
            <p>{{ bb.content }}</p>
            <p><b>Цена:</b> {{ bb.price|currency }}</p>
            <p> {{ bb.kind }} </p>
            <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
            <p>Прошло {{ bb.published|timesince }}</p>
        </div>
    {% endfor %}

    <br><br><br><br><br>

    {% for bb in gt1000 %}
        <h2><a href="{% url 'bboard:detail' pk=bb.pk %}">{{ bb.title }}</a></h2>
        <p>{{ bb.content }}</p>
    {% endfor %}

{% endblock %}